// ABOUT SECTION

.about {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.about-text {
	background: linear-gradient(51deg, rgba(37,89,74,1) 0%, rgba(45,119,71,1) 35%, rgba(49,135,78,1) 100%);
	flex: 2 1 40rem;
	justify-content: space-around;
	color: white;
	text-align: center;

	div {
		padding: 3rem 8rem;
	}

	p  {
		text-shadow: 1.2px 1.2px 1.2px rgba(242,203,5,1);
		line-height: 6rem;
	}
}

.bold-hero{
	font-size: 4rem;
	font-weight: bold;
}

.about-image {
	flex: 1 1 15rem;
	position: relative;	

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}