// INTRO SECTION

.hero {
	min-height: 80vh;
	width: 100%;
	margin: 0 0 0 auto;
	background-size: cover;
	background-position: center;	
	position: relative;
	overflow: hidden;
	display: flex;
	background: linear-gradient(51deg, rgba(37,89,74,1) 0%, rgba(45,115,69,1) 35%, rgba(242,203,5,1) 100%);
}

.hero-introduction {	
	text-align: center;
	
	p {
		padding: 5rem 10rem;
		color: white;		
	}

	h2 {
		color: white;
		padding-top: 3rem;		
	}	
}

.jesus-svg {
  padding-top: 5rem;
  margin: auto auto auto 10rem;
}

// Because SECTION

.because {
	padding: 7rem;
	text-align: center;
	color: #25594A;   	

	h1 {
		font-size: var(--header3);   
	}
}