/* Global styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --header1: calc(1.5rem + 1vw);
  --header2: calc(3rem + 1vw);
  --header3: calc(2.3rem + 1vw);
  --header4: calc(2rem + 1vw);
  --text: calc(0.8rem + 1vw);
  --big: calc(6rem + 1vw);
}

h1 {
  font-size: var(--header1);
}

li,
p,
a {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #25594A;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: 'Vollkorn', serif;
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

h1 {
  font-family: 'Galada', cursive;
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Nav Section */
.main-head {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  position: fixed;
  width: 100%;
  background-color: white;
}

nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4vh;
  padding: 1.5rem 0rem;
  color: #25594A;
}

#logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  font-size: var(--header3);
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  color: #25594A;
  padding-left: 26%;
  font-weight: 700;
}

.burger,
.menu-check {
  display: none;
}

.hero {
  min-height: 80vh;
  width: 100%;
  margin: 0 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(51deg, #25594a 0%, #2d7345 35%, #f2cb05 100%);
}

.hero-introduction {
  text-align: center;
}

.hero-introduction p {
  padding: 5rem 10rem;
  color: white;
}

.hero-introduction h2 {
  color: white;
  padding-top: 3rem;
}

.jesus-svg {
  padding-top: 5rem;
  margin: auto auto auto 10rem;
}

.because {
  padding: 7rem;
  text-align: center;
  color: #25594A;
}

.because h1 {
  font-size: var(--header3);
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text {
  background: linear-gradient(51deg, #25594a 0%, #29693f 35%, #379557 100%);
  -webkit-box-flex: 2;
      -ms-flex: 2 1 20rem;
          flex: 2 1 20rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  text-align: center;
}

.about-text div {
  padding: 3rem 8rem;
}

.about-text p {
  line-height: 8rem;
  font-size: calc(1.6rem + 1vw);
}

.bold-hero {
  font-size: 4.5rem;
  color: #f2cb05;
}

.bold-hero a {
  font-size: 4.5rem;
  color: #f2cb05;
  -webkit-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out;
}

.bold-hero a:hover {
  font-size: 4.8rem;
}

.about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  position: relative;
}

.about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gal-title {
  padding: 7rem;
  text-align: center;
  color: #25594A;
  border-bottom: 0.6rem solid white;
}

.gal-title h1 {
  font-size: var(--header2);
}

.gallery {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: column;
  position: relative;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.img-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.border-gal {
  border: 0.6rem solid white;
}

.gallery1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.gallery2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.gallery6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.gallery7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.gallery10 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery12 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.gallery13 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.gallery14 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery19 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.gallery20 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.gallery21 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gal-bye {
  padding: 7rem;
  text-align: center;
  color: #25594A;
  border-top: 0.6rem solid white;
}

.gal-bye h1 {
  font-size: var(--header3);
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.full-img {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.full-img.open {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.bye {
  min-height: 5vh;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  border-bottom: 1px solid #25594A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(51deg, #f2cb05 0%, #2d7345 35%, #25594a 100%);
}

.bye h2 {
  color: white;
  margin: 0.8rem auto;
  padding-bottom: 1rem;
  padding-left: 20%;
  text-shadow: 2px 2px 2px #f2cb05;
  font-size: var(--header4);
}

.bye-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  position: relative;
}

.border-plant {
  background: #25594A;
  overflow: hidden;
  min-height: 0.5vh;
}

.plant {
  position: absolute;
  bottom: 0;
  left: 10%;
  max-height: 200%;
  -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
          transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
}

.plant1 {
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards, plant1-shake 1.5s infinite ease alternate-reverse 1s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.plant2 {
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards, plant-shake 1.5s infinite ease alternate-reverse 2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  left: 40%;
}

@-webkit-keyframes plant-entrance {
  from {
    -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
            transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plant-entrance {
  from {
    -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
            transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@-webkit-keyframes plant-shake {
  from {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes plant-shake {
  from {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes plant1-shake {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
}

@keyframes plant1-shake {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
}

@media screen and (max-width: 842px) {
  .hero {
    width: 100%;
  }
  .hero-introduction p {
    padding: 5rem 3rem;
    font-size: 1.5rem;
  }
  /* BURGER */
  .burger {
    position: fixed;
    right: 0;
    padding-right: 2%;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background-color: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-links {
    background: linear-gradient(51deg, #25594a 0%, #2d7345 35%, #f2cb05 100%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
    font-weight: bold;
    text-decoration: underline;
    z-index: 5;
  }
  .jesus-svg {
    display: none;
  }
  .nav-open {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .toggle .line1 {
    -webkit-transform: rotateZ(45deg) translateY(300%);
            transform: rotateZ(45deg) translateY(300%);
    background-color: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotateZ(-45deg) translateY(-300%);
            transform: rotateZ(-45deg) translateY(-300%);
    background-color: white;
  }
  /* ABOUT SECTION */
  .about-text div {
    padding: 3rem;
  }
  .bold-hero {
    font-size: 2.5rem;
  }
  .bold-hero a {
    font-size: 2.5rem;
    -webkit-transition: font-size 0.5s ease-in-out;
    transition: font-size 0.5s ease-in-out;
  }
  .bold-hero a:hover {
    font-size: 2.8rem;
  }
  /* GALERRY */
  .gallery {
    display: block;
  }
  .about {
    display: block;
  }
  .about-text p {
    line-height: 4rem;
  }
  /* FOOTER */
  .tks-for-visiting {
    display: none;
  }
}

@media screen and (max-width: 1340px) {
  .tks-for-visiting h2 {
    font-size: calc(1.3rem + 1vw);
  }
}

@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 5rem;
    --header3: 4rem;
    --header4: 3rem;
    --text: 3rem;
    --big: 8rem;
  }
}
/*# sourceMappingURL=style.css.map */